.App {
  text-align: center;
  display: flex;
  min-height: 750px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #1d3567;
}

.map__container {
  width: 70%;
  margin-right: 20px;
}

.map__title {
  margin-top: 0;
  text-align: left;
}

.info__container {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.alerts__container {
  border: solid 3px #1d3567;
  flex: 1;
  padding: 20px;
  margin-bottom: 20px;
}

.alerts__number {
  font-size: 120px;
  border: solid 8px red;
  color: red;
  border-radius: 50%;
  margin: auto;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicleInfo__container {
  border: solid 3px #1d3567;
  flex: 1;
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }

  .map__container {
    width: 100%;
  }

  .info__container {
    width: 100%;
  }
}
